:root {
  --primary: #ee9102;
  --primary-light: #ffc246;
  --primary-dark: #b66300;

  --secondary: #0260ee;
  --secondary-light: #678dff;
  --secondary-dark: #0038ba;

  --primary-dec: 238, 145, 2;

  --semi-primary-light: var(--primary);
  --semi-primary-dark: var(--semi-dark);
  --semi-primary: var(--semi-primary-light);

  --background-light: #f1efec;
  --background-dark: #1f1f1f;
  --background: var(--background-light);

  --full-light: #FFF;
  --full-dark: #000;
  --full: var(--full-light);

  --semi-light: #FFF;
  --semi-dark: #2f2f2f;
  --semi: var(--full-light);

  --border-light: #d3d7d7;
  --border-dark: black;
  --border: var(--border-light);

  --text: var(--full-dark);

  --text-light-light: rgba(0,0,0,.87);
  --text-light-dark: rgba(255,255,255,.87);
  --text-light: var(--text-light-light);

  --text-light-dec: 255, 255, 255;
  --text-dark-dec: 0, 0, 0;
  --text-dec: var(--text-dark-dec);

  --selected-text-light: #fff2d8;
  --selected-text-dark: #312d23;
  --selected-text: var(--selected-text-light);

  --shadow-light: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  --shadow-dark: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  --shadow: var(--shadow-light);

  --shadow-color-light: #00000024;
  --shadow-color-dark: #FFFFFF24;
  --shadow-color: var(--shadow-color-light);

  --white-10: #ffffff1A;

  --hover-20-light: #00000020;
  --hover-20-dark: #FFFFFF20;
  --hover-20: var(--hover-20-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}

body {
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background-color: var(--background) !important;
  opacity: 0;
  touch-action: pan-y pan-x;
}

input, button, a {
  outline-color: var(--primary);
}

body.con_show {
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  -o-transition: opacity 0.2s, background-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s;
  opacity: 1;
}
body.con_hide {
  opacity: 0;
}

body.con_hide .main_center {
  -webkit-transition: -webkit-transform 0.2s !important;
  transition: -webkit-transform 0.2s !important;
  -o-transition: transform 0.2s !important;
  transition: transform 0.2s !important;
  transition: transform 0.2s, -webkit-transform 0.2s !important;
  -webkit-transform: scale(0.95) !important;
      -ms-transform: scale(0.95) !important;
          transform: scale(0.95) !important;
}

body.noscroll .main_container {
  height: calc(100vh - 103px);
}

.main_container {
  right: 0;
  left: 0;
  overflow-y: unset;
  min-height: calc(100vh - 103px);
}

footer {
  transition: var(--navbar-transition);
  margin-left: var(--navbar-width);
  /* background-color: rgba(0,0,0,0.8); */
  padding: 20px;
  min-height: 96px;
  color: white;
}
footer p {
  color: inherit;
}
