::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #a3a3a385;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c85;
}

body {
  background: #f1efec;
  font-family: "Montserrat";
  margin: 0;
}

button.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #333;
  background-color: white;
  border-color: #ccc;
  float: right;
  transition: all 100ms ease-in;
  -webkit-tap-highlight-color: transparent;
}

button.btn:focus {
  outline:0;
}

button.btn:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.125);
}

button.btn:hover {
  border-color: #e6e6e6;
}

button.btn.submit {
  color: white;
  background-color: #da893b;
  border-color: #da893b;
}

button.btn.submit:hover {
  background-color: #e0a35d;
  border-color: #e0a35d;
}

div.align_center {
  text-align: center;
}

.month_year {
  opacity: 0;
}

.main_container {
  margin-top: 43px;
  margin-left: var(--navbar-width);
  padding:30px;
  transition: var(--navbar-transition);
  will-change: margin-left;
}
.main_center {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  will-change: margin;
}

input[type="text"] {
    outline-color: var(--light-accent-color);
}

cc-model.profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
  transition: all 0.4s ease 0s, margin 0s ease 0s;
}

.profile_container {
  background: white;
  width: 320px;
  height: 180px;
  float: right;
  margin-top: 55px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  pointer-events: all;
  text-align: center;
  transition: inherit;
  overflow: hidden;
}

.profile_container.hide {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  margin: 0;
  transition: all 0.4s ease 0s, margin 0s ease 0.4s;
}

div.profile_container>div {
  display: grid;
  margin-top: 20px;
}

div.profile_container cc-name {
  font-size: 18px;
  font-weight: 500;
}

div.profile_container cc-email {
  font-size: 15px;
}

div.profile_container a {
  font-size: 13px;
  border-color: #bdbdbd;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  padding: 8px 14px;
  text-decoration: none;
  color: #464646;
  font-weight: normal;
  justify-self: center;
  margin: 0;
  margin-top: 20px;
}
div.profile_container a:hover {
  background-color: #fffaf6;
}

@media only screen and (max-width:950px) {
  .profile_container {
    width: -webkit-fill-available;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
