body {
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main_container {
  margin-top: 43px;
  margin-left: var(--navbar-width);
  padding: 0 30px;
  -webkit-transition: var(--navbar-transition);
  -o-transition: var(--navbar-transition);
  transition: var(--navbar-transition);
  will-change: margin-left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form {
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.1);
          box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  border: none;
  margin: 30px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
}
.form.double {
  width: 1000px;
  overflow: hidden;
}

.form .title {
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 20px;
}
.form.double .title {
  margin-bottom: 0;
}

.form p {
  overflow: hidden;
  height: 20px;
  margin: 0;
  padding: 10px 0;
  -webkit-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
  pointer-events: none;
}

.form #search {
  border-width: 1px;
  border-style: solid;
  border-color: var(--border);
  padding: 10px;
  float: right;
  margin-top: -10px;
  width: 30%;
  color: var(--text);
  background-color: var(--semi);
}
.form #search:focus {
  outline-color: var(--light-accent-color);
}

@media only screen and (max-width:767px) {
  div.form_item_group {
    width: 90%;
  }

  .form {
    width: -webkit-fill-available;
  }
}
