:root {
  --sidenav-padding-neg: -12px;
  --sidenav-padding: 12px;
  --sidenav-button-padding-left: var(--sidenav-padding);
  --sidenav-button-padding-right: var(--sidenav-padding);
  --sidenav-navtext-opacity: 1;
  --sidenav-icon-rotation: unset;

  --sidebar-blocker-opacity: 0;
  --sidebar-blocker-events: none;
}

cc-navbar {
  color: white;
  width: 0;
  transition: var(--navbar-transition);
  width: var(--navbar-true-width);
  grid-auto-columns: var(--navbar-true-width);
  height: 100%;
  background-color: #c56900;
  top: 0;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

cc-navbar div.blocker {
  background-color: #00000026;
  z-index: 11;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: var(--sidebar-blocker-opacity);
  pointer-events: var(--sidebar-blocker-events);
  transition: opacity 0.2s ease;
}

cc-navbar div.main {
  position: fixed;
  z-index: 12;
  background-color: inherit;
  width: inherit;
  height: inherit;
  top: inherit;
  overflow-x: hidden;
  display: grid;
  grid-auto-rows: minmax(50px, max-content);
  transition: background-color 0.2s ease;
}

cc-navbar div.main div {
  align-self: center;
  padding-left: var(--sidenav-padding);
  padding-right: var(--sidenav-padding);
  transition: inherit;
}

cc-navbar div.main div:last-child {
  align-self: unset;
}

cc-navbar div.main div:hover {
  background-color: #ffffff2b;
}

cc-navbar div.main div.nohover:hover {
  background-color: transparent;
}

cc-navbar div.main a {
  padding-top: 15px;
  transition: var(--navbar-transition);
  padding-left: var(--sidenav-button-padding-left);
  padding-right: var(--sidenav-padding);
  color: white;
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 35px 1fr;
}

cc-navbar div.main a:hover {
  background-color: #ffffff2b;
}

cc-navbar div.main a span {
  transition: opacity 0.4s ease;
  margin-left: 5px;
  opacity: var(--sidenav-navtext-opacity);
}

cc-navbar h1 {
  margin: 0;
  width: -webkit-fill-available;
  height: 100%;
  font-weight: normal;
  font-size: 25px;
}

cc-navbar button {
  width: -webkit-fill-available;
  background: transparent;
  border: none;
  height: 100%;
  margin-left: var(--sidenav-padding-neg);
  margin-right: var(--sidenav-padding-neg);
  padding-left: var(--sidenav-padding);
  padding-right: var(--sidenav-button-padding-right);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-align: right;
  transition: var(--navbar-transition);
  width: var(--navbar-true-width);
}

cc-navbar i {
  font-size: 20px;
  color: white;
}

cc-navbar button i {
  font-size: 20px;
  color: white;
  transition: transform 0.5s ease;
  transform: var(--sidenav-icon-rotation);
}
