:root {
  --sidenav-padding-neg: -12px;
  --sidenav-padding: 12px;
  --sidenav-button-padding-left: var(--sidenav-padding);
  --sidenav-button-padding-right: var(--sidenav-padding);
  --sidenav-navtext-opacity: 1;
  --sidenav-icon-rotation: unset;
  --sidenav-margin-top: unset;

  --sidebar-blocker-opacity: 0;
  --sidebar-blocker-events: none;

  --overflow-x: unset;
}

body {
  overflow-y: var(--overflow-x);
}

cc-navbar {
  color: white;
  width: 0;
  transition: var(--navbar-transition);
  width: var(--navbar-true-width);
  grid-auto-columns: var(--navbar-true-width);
  background-color: #c56900;
  top: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  will-change: width, grid-auto-columns;
}

cc-navbar div.blocker {
  background-color: #00000026;
  z-index: 11;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: var(--sidebar-blocker-opacity);
  pointer-events: var(--sidebar-blocker-events);
  transition: opacity 0.2s ease;
  will-change: opacity;
}

cc-navbar div.main {
  position: fixed;
  z-index: 12;
  background-color: inherit;
  box-shadow: 0px 0px 5px #0000006e;
  width: inherit;
  top: inherit;
  bottom: inherit;
  left: inherit;
  overflow-x: hidden;
  display: grid;
  transition: margin-top 0.5s ease, background-color 0.2s ease;
  grid-auto-rows: minmax(56px, max-content);
  margin-top: var(--sidenav-margin-top);
  will-change: margin-top;
}

cc-navbar div.main>* {
  border-bottom: 1px solid #ffffff47;
}
cc-navbar div.main>*:last-child {
  border-bottom: 0;
}

cc-navbar div.main div {
  transition: inherit;
}
cc-navbar div.main div.group {
  overflow-y: hidden;
}
cc-navbar div.main div.item {
  padding-left: var(--sidenav-padding);
  padding-right: var(--sidenav-padding);
  transition: padding 0.5s, background-color 0.2s;
  will-change: padding-left, padding-right;
  display: flex;
  align-items: center;
}
cc-navbar div.main div.item:hover {
  background-color: #ffffff2b;
}

cc-navbar div.main div:last-child {
  align-self: unset;
}

cc-navbar div.main div.nohover:hover {
  background-color: transparent;
}

cc-navbar div.main a {
  transition: padding 0.5s, background-color 0.2s;
  padding-left: var(--sidenav-button-padding-left);
  padding-right: var(--sidenav-padding);
  color: white;
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30px 1fr;
  will-change: padding-left, padding-right;
}
cc-navbar div.main a:hover {
  background-color: #ffffff2b;
}

cc-navbar div.main>div.group>button {
  transition: padding 0.5s, margin-top 0.5s, background-color 0.2s, opacity 0.2s;
  padding-left: var(--sidenav-button-padding-left);
  padding-right: var(--sidenav-padding);
  color: white;
  text-align: left;
  height: 56px;
  font-size: 15px;
  background: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  display: block;
  will-change: padding-left, padding-right;
}
cc-navbar div.main>div.group>button:hover {
  background-color: #ffffff2b;
}
cc-navbar div.main>div.group>button>div {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30px 1fr 30px;
}
cc-navbar div.main>div.group>button i:last-child {
  transform: rotate(90deg);
}
cc-navbar div.main>div.group>a {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: margin 0.2s, background-color 0.2s;
}
cc-navbar div.main>div.group>a.hide {
  margin-bottom: -30px;
}

cc-navbar div.main span {
  transition: opacity 0.4s ease;
  margin-left: 5px;
  align-self: center;
  opacity: var(--sidenav-navtext-opacity);
  will-change: opacity;
}
cc-navbar div.main a span.nohide {
  opacity: 1;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  text-align: center;
}
cc-navbar div.main a i {
  align-self: center;
}
cc-navbar div.main div>a:first-child {
  height: 56px;
}

cc-navbar h1 {
  margin: 0;
  width: -webkit-fill-available;
  font-weight: normal;
  font-size: 25px;
}

cc-navbar div.main>div.item>button {
  width: -webkit-fill-available;
  background: transparent;
  border: none;
  height: 100%;
  margin-left: var(--sidenav-padding-neg);
  margin-right: var(--sidenav-padding-neg);
  padding-left: var(--sidenav-padding);
  padding-right: var(--sidenav-button-padding-right);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-align: right;
  transition: var(--navbar-transition);
  width: var(--navbar-true-width);
  will-change: width, margin-left, margin-right, padding-left, padding-right;
}

cc-navbar i {
  font-size: 20px;
  color: white;
  text-align: center;
}

cc-navbar button i {
  font-size: 20px;
  color: white;
  transition: transform 0.5s ease;
  will-change: transform;
}

.contract_navbar {
  font-size: 30px;
  transform: var(--sidenav-icon-rotation);
}
