:root {
	--stroke-offset-default: 70.75px;
	--stroke-offset-full: 212.25px;
	--stroke-offset-default-inverse: -70.75px;
	--stroke-offset-full-inverse: -212.25px;

	--stroke-rotate: 90deg;
}

svg {
	height: 100px;
	width: 100px;
    animation: spin 2s linear infinite;
}

svg>circle {
	stroke: black;
	stroke-width: 10%;
	fill: transparent;
	transform-origin: center;
	cx: 50%;
    cy: 50%;
}

@keyframes spin {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes circlestroke {
	0% {
		stroke-dashoffset: var(--stroke-offset-default);
		transform: rotate(calc(var(--stroke-rotate) * 0));
	}

	25% {
		stroke-dashoffset: var(--stroke-offset-full);
		transform: rotate(calc(var(--stroke-rotate) * 0));
	}
	25.00001% {
		stroke-dashoffset: var(--stroke-offset-full-inverse);
		transform: rotate(calc(var(--stroke-rotate) * 1));
	}

	50% {
		stroke-dashoffset: var(--stroke-offset-default-inverse);
		transform: rotate(calc(var(--stroke-rotate) * 1));
	}
	50.00001% {
		stroke-dashoffset: var(--stroke-offset-default);
		transform: rotate(calc(var(--stroke-rotate) * 2));
	}

	75% {
		stroke-dashoffset: var(--stroke-offset-full);
		transform: rotate(calc(var(--stroke-rotate) * 2));
	}
	75.00001% {
		stroke-dashoffset: var(--stroke-offset-full-inverse);
		transform: rotate(calc(var(--stroke-rotate) * 3));
	}

	100% {
		stroke-dashoffset: var(--stroke-offset-default-inverse);
		transform: rotate(calc(var(--stroke-rotate) * 3));
	}
}
