<div style="font-family: 'Google Sans', 'Roboto'; color: black;">
	<div style="border: solid 1px #e0e0e0; border-bottom: none;">
		<div style="background-color: #f3f3f3; padding: 15px;">
			<h2 style="margin: 0;">Scheduling Notice</h2>
			<p style="margin: 0; font-weight: 500; color: #484848;">${shift.location}</p>
		</div>
		<div style="padding: 8px 22px;">
			<p>Hello ${name.prefix} ${name.last},</p>
            <p>You have been added to the following shift:</p>
            <ul>
                <li>${shift.time}, ${shift.date}</li>
            </ul>
			<p>Please login to your CartChart account as soon as possible to accept or decline. Thank you for your diligence.</p>
			<a href="https://cartchart.impells.com/home" style="text-decoration: none; color: #ee9102;">cartchart.impells.com</a>
			<p>If you have any issues with accepting or declining, please email us at <span style="color: #b66300; text-transform: lowercase;">${location.town}-${location.state}-CC@impells.com</span>.</p>
		</div>
	</div>
	<div style="background-color: #ee9102; padding: 15px;">
		<p style="margin: 0; color: white;">This email is intended solely for those who have been invited to join the Cart Chart. If you have received this email in error please disregard.</p>
	</div>
</div>